/* Styles */

html{font-family:"Microsoft YaHei UI","Microsoft YaHei",sans-serif;}
body{background-color:#999999;}
a{text-decoration:none;color:#0099ff;transition:0.1s;}
a:hover{color:#cccccc;}
hr{border:1px solid #0099ff;}
#navi{color:#ffffff;background-color:#33CCB3;border-bottom:7px solid #80ccff;}
.navi_menu_button{border:0;background-color:#0099ff;color:#ffffff;}
#navi_container{background-color:#33CCB6;transition:0.25s;}
#navi_container li a{color:#ffffff;transition:background-color 0.25s;}
#navi_container li a:hover{background-color:#80ccff;}
#navi_container li a:active{background-color:#0099ff;}
#main{background-color:#DBFFFF;}
#main_content{color:#999999;border:6px solid #fbfbfb;background-color:#F5FFFF;}
#footer{color:#dddddd;background-color:#00CC99;border-top:6px solid #0099AA;}
#footer a{color:#0099CC;}
.content{color:#666666;line-height:30px;}
.section{border-right:2px solid #80ccff;color:#aaaaaa;transition:background-color 0.25s;}
.section .description{color:#666666;}
.section:hover{background-color:#aedfff;}
.qqchat{background-color:#80ccff;color:#ffffff;border-right:4px solid #0099ff;}
.qqchat:hover{color:#0099ff;}
.qqgroup{background-color:#0099ff;color:#ffffff;border-right:4px solid #80ccff;}
.qqgroup:hover{color:#80ccff;}

/* Layout */

html{font-family:"Microsoft YaHei UI","Microsoft YaHei",sans-serif;}
body{height:100%;font-size:15px;padding:0;margin:0;}
#navi{position:fixed;width:80%;padding:0 10%;font-size:24px;height:48px;line-height:48px;}
.navi_menu_button{display:none;padding:10px;float:left;}
#navi_container{font-size:12px;float:right;right:0;}
#navi_container li{display:inline;float:left;font-size:12px;}
#navi_container li a{display:inline-block;height:48px;line-height:48px;padding:0 15px;}
#main{margin:0;padding:52px 0;}
#main_content{width:70%;text-align:center;margin:50px auto;font-size:18px;line-height:48px;}
#footer{bottom:0px;left:0px;right:0px;padding:10px 0;font-size:12px;text-align:center;line-height:20px;}
.content{width:70%;margin:10px auto;padding:0 15%;}
.section{margin:50px 20%;padding:20px;font-size:12px;}
.section .description{width:70%;margin:10px auto;font-size:16px;}
.section a{margin-right:10px;font-size:14px;}
.section .link{width:100%;margin:30px 0;text-align:center;}
.section .link a{font-size:64px;}
.section .link a:hover{color:#0099ff;}
.qqchat{padding:3px 5px;font-size:13px;}
.qqgroup{padding:3px 5px;font-size:13px;}

/* Alternative layout */

@media screen and (max-width:1000px){
    body{font-size:14px;}
    #navi{width:90%;padding:0 5%;font-size:20px;height:44px;line-height:44px;}
    #navi_container li a{height:44px;line-height:44px;padding:0 10px;}
    #main{padding:48px 0;}
    #main_content{width:80%;margin:30px auto;font-size:16px;line-height:44px;}
    .content{width:80%;padding:0 10%;}
    .section{margin:30px 15%;padding:20px;font-size:12px;}
    .section .link a{font-size:54px;}
}

@media screen and (max-width:800px){
    #navi{width:100%;padding:0;font-size:18px;height:72px;line-height:36px;text-align:center;}
    #navi_container{font-size:12px;float:none;}
    #navi_container li{float:none;}
    #navi_container li a{height:36px;line-height:36px;}
    #main{padding:76px 0;}
    #main_content{width:100%;margin:30px 0;border-left:0;border-right:0;font-size:14px;line-height:40px;}
    .content{width:90%;padding:0 5%;}
    .section{margin:20px 10%;padding:10px;}
    .section .link a{font-size:48px;}
}

@media screen and (max-width:600px){
    #navi{font-size:20px;height:44px;line-height:44px;text-align:center;}
    .navi_menu_button{display:inline;}
    #navi_container{position:fixed;left:0;top:0;bottom:0;width:0;overflow:hidden;font-size:12px;float:none;}
    #navi_container li{display:block;width:100%;height:44px;line-height:44px;float:left;}
    #navi_container li a{width:100%;height:44px;line-height:44px;padding:0;}
    #main_content{margin:10px 0;}
    .content{width:96%;padding:0 2%;}
    .section{margin:20px;}
}